---
title: Home
---

-# Remove the sticky region
-# #sticky
-#   - item = item_by_identifier('/blog/sticky/')
-#   - if item
-#     - if item[:title]
-#       .title= item[:title]
-#     .body
-#       != partial(item)

:markdown
  # Thoughts on Research Life

  __quaerere scientiam apparatus ut computet__ (or __QSAC__ in short) is
  [Sriram P C](/)'s blog on life as a research scholar.

  More [information](about.html) about this blog, its [kith](kith.html) (blogroll,
  bookmarks, _etc._), and a complete archive of [past](archives.html) posts, are
  available via links at the top of the page.

  A [feed][] of the most recent posts is also available. [![Feed icon](/assets/images/feed-icon-14x14.png)][feed]

  Following is a list of recent posts:

  [feed]: /blog/atom.xml

- oldest_item = nil
- current_index = 0

- sorted_articles[current_index, featured_count].each do |item|
  - oldest_item = item
  - current_index += 1
  .featured
    = render('/_article.*', :item => item, :is_embedded => true)

- sorted_articles[current_index, excerpt_count].each do |item|
  - oldest_item = item
  = render('/_excerpt.*', :item => item)

-#= render('_other_articles_nav', :reference_item => oldest_item, :older_only => true)

.clear

-# for SEO, but make it disappear
#taglist
  - tags = count_tags()
  - tags.each.sort_by {|k,v| k}.each do |tag_count|
    - tag = tag_count[0]
    %a(href='#{relative_path_to("#{blog_url}tags/#{tag}/")}' class='tag')= tag
