---
title: All Tags
is_hidden: true
---

%h1
  All Tags
  
%p 
  Listed are the set of tag links related to articles in this site. 
  The number of articles related to a tag succeeds the tag. 

.tags-page
  - tags = count_tags()
  %ul
    - tags.sort_by{|k,v| k}.each do |tag_count|
      - tag = tag_count[0]
      - count = tag_count[1]
      %li
        %a(href="#{blog_url}/tags/#{tag}/" class='tag')= tag
        = "x #{count}"
