---
title: 'Home'
---

%div#home
  %img.inset.right{'src'=>'/assets/images/home.png',
                   'title' => 'Home',
                   'alt' => 'Home',
                   'width' => '120px'}

  :markdown
    # Welcome
    I'm Sriram P Chockalingam, a student, programmer, and a former consultant.

    # [Work](/work.html)
    I am a [Research Scholar](/work.html) in Computational Biology,
    specifically in the use of parallel computing in high-throughput
    sequencing and systems biology. I am with the Computer Science and Engg.
    Department at IIT Bombay. Formerly, I was a consultant in an IT company.

    # [Blog](/blog/)
    I keep a blog called _[QSAC](/blog/)_ on my work and life as a research scholar.
    Recent posts include:

  - oldest_item = nil
  - current_index = 0

  - sorted_articles[current_index, 3].each do |item|
    - oldest_item = item
    = render('/_excerpt.*', :item => item)

  :markdown
    # Contact

  %a.imglink{ :href => 'mailto:srirampc _remove_this_ @ gmail.com'}
    %img.inset.left{'src'=>'/assets/images/email.png',
                    'title' => 'Email',
                    'alt' => 'email',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://scholar.google.com/citations?user=5qWYl20AAAAJ&hl=en'}
    %img.inset.left{'src'=>'/assets/images/gscholar.png',
                    'title' => 'Google Scholar',
                    'alt' => 'Google Scholar',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://www.researchgate.net/profile/Sriram_Chockalingam'}
    %img.inset.left{'src'=>'/assets/images/researchgate.png',
                    'title' => 'Research Gate',
                    'alt' => 'Research Gate',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://linkedin.com/in/srirampc'}
    %img.inset.left{'src'=>'/assets/images/linkedin.png',
                    'title' => 'LinkedIn',
                    'alt' => 'LinkedIn',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://bitbucket.org/srirampc'}
    %img.inset.left{'src'=>'/assets/images/bitbucket.png',
                    'title' => 'Bitbucket',
                    'alt' => 'Bitbucket',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://github.com/srirampc'}
    %img.inset.left{'src'=>'/assets/images/github.png',
                    'title' => 'Github',
                    'alt' => 'Github',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://twitter.com/srirampc'}
    %img.inset.left{'src'=>'/assets/images/twitterbird.png',
                    'title' => 'Twitter',
                    'alt' => 'Twitter',
                    'width' => '30px'}
