---
title: About
---

%div#info
  %img.inset.right{'src'=>'/assets/images/headshot.jpg',
                   'title' => 'Sriram P C',
                   'alt' => 'Head Shot',
                   'width' => '120px'}
  :markdown
    # About Me
    I am Sriram P Chockalingam. Currently, I am a Ph.d candidate being advised
    by of [Prof. Srinivas Aluru](http://www.cc.gatech.edu/~saluru/). Before this
    gig, I used to work as a software engineer in a consultancy company for
    eight and half years. I customized, maintained and developed software that
    manages product life cycle. While working as a software engineer, I
    completed M. Tech. in Computer Science and Engineering from [IIIT,
    Hyderabad](http://www.iiit.ac.in/). Sometime during the first year of this
    century, I graduated from [PSG College of
    Technology](http://www.psgtech.edu/) with a B.E. in Mechanical Engineering.
    A summary of my past life is at my Linkedin page
    [here](http://www.linkedin.com/in/srirampc).

    I have a personal blog [here](http://srirampc.blogspot.com), which I
    rarely update it now a days. You can also follow me
    [here](http://www.twitter.com/srirampc) on twitter!

    # About This Site

    I created this site after joining IIT Bombay as research scholar. The
    primary goal of this site is to document my research life. This site was
    created using [nanoc](http://nanoc.stoneship.org) static website generator .
    It is built from the [nancoc blog](https://github.com/mgutz/nanoc3_blog)
    starter kit developed by [mgutz](http://github.com/mgutz)
    ([Licence](license.html)). The HTML content is generated from a set of
    [haml](http://haml-lang.com/) and
    [markdown](http://daringfireball.net/projects/markdown/) files, while CSS is
    generated from [sass](http://sass-lang.com/) files. The use of simpler
    representation of content (i.e. markdown) enables easier version control.


    The structure of the site is inspired from
    [Mark Reid](http://mark.reid.name/)'s home page.

    The source code of this website is available at my bitbucket
    [repository](https://bitbucket.org/srirampc/pwp).

    # Contact
  %a.imglink{ :href => 'mailto:srirampc _remove_this_ @ gmail.com'}
    %img.inset.left{'src'=>'/assets/images/email.png',
                    'title' => 'Email',
                    'alt' => 'email',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://scholar.google.com/citations?user=5qWYl20AAAAJ&hl=en'}
    %img.inset.left{'src'=>'/assets/images/gscholar.png',
                    'title' => 'Google Scholar',
                    'alt' => 'Google Scholar',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://www.researchgate.net/profile/Sriram_Chockalingam'}
    %img.inset.left{'src'=>'/assets/images/researchgate.png',
                    'title' => 'Research Gate',
                    'alt' => 'Research Gate',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://linkedin.com/in/srirampc'}
    %img.inset.left{'src'=>'/assets/images/linkedin.png',
                    'title' => 'LinkedIn',
                    'alt' => 'LinkedIn',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://bitbucket.org/srirampc'}
    %img.inset.left{'src'=>'/assets/images/bitbucket.png',
                    'title' => 'Bitbucket',
                    'alt' => 'Bitbucket',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://github.com/srirampc'}
    %img.inset.left{'src'=>'/assets/images/github.png',
                    'title' => 'Github',
                    'alt' => 'Github',
                    'width' => '30px'}

  %a.imglink{ :href => 'https://twitter.com/srirampc'}
    %img.inset.left{'src'=>'/assets/images/twitterbird.png',
                    'title' => 'Twitter',
                    'alt' => 'Twitter',
                    'width' => '30px'}
