---
title: Work
---

%div#work
  %img.inset.right{'src'=>'/assets/images/scientist.png',
                   'title' => 'At Work',
                   'alt' => 'At Work',
                   'width' => '120px'}

  :markdown
    # Research
    I am interested in the field of computational biology, specifically
    in the use of parallel computing to construct cellular and gene regulatory
    networks from gene expression data. I am also interested in developing
    parallel algorithms in the analysis of high-throughput sequencing reads
    such as error correction and clustering.

    # Software
    1. [ALFRED](alfred.html) is a Alignment Free Distance Estimator software for Phylogenetic Inference.  It is based on the metric of average common substring.
    2. [PSbEC](psbec.html) is a parallel spectrum based error correction software for reads from high-throughput sequencing machines.

    # Publications
    1. __Sriram P. Chockalingam__, Sharma V. Thankachan, and Srinivas Aluru. _A parallel algorithm for finding all pairs k-mismatch maximal common substrings._ In Proceedings of the International Conference for High Performance Computing, Networking, Storage and Analysis (SC), p. 67., 2016.
    2. Sharma V. Thankachan, __Sriram P. Chockalingam__, and Srinivas Aluru. _An Efficient Algorithm for Finding All Pairs k-Mismatch Maximal Common Substrings._ In Proceedings of the International Symposium on Bioinformatics Research and Applications (ISBRA), pp. 3-14., 2016.
    3. __Sriram Chockalingam__, Maneesha Aluru, and Srinivas Aluru. _Microarray Data Processing Techniques for Genome-Scale Network Inference from Large Public Repositories._ Microarrays. Vol. 5, No. 3 (2016): p. 23.
    4.  __Sriram P. Chockalingam__, Maneesha Aluru and Srinivas Aluru. _Information Theory Based Genome-scale Gene Networks Construction using MapReduce._ In Proceedings of the 22nd IEEE International Conference on High Performance Computing (HiPC), pp. 464-473., 2015.
    2. Nagakishore Jammula, __Sriram Chockalingam__, and Srinivas Aluru. _Parallel Read Error Correction for Big Genomic Datasets._ In Proceedings of the 22nd IEEE International Conference on High Performance Computing (HiPC), pp. 446-455., 2015.
    3. Sharma V. Thankachan, __Sriram Chockalingam__, Yongchao Liu, Ambujam Krishnan and Srinivas Aluru. _A greedy alignment-free distance estimator for phylogenetic inference._ In Proceedings of the 5th IEEE International Conference on Computational Advances in Bio and Medical Sciences (ICCABS), 2015.
    4. Inna Rytsareva, David S Campo, Yueli Zheng, Seth Sims, Cansu Tetik, Jain Chirag, __Sriram Chockalingam__, Sharma Thankachan, Amanda Sue, Srinivas Aluru and Yury Khudyakov. _Efficient Detection of Viral Transmission with Threshold-based methods._ In Proceedings of the 5th IEEE International Conference on Computational Advances in Bio and Medical Sciences (ICCABS), 2015.
    5. Sudip Misra, Md Vasimuddin, Kiran Pamnany, __Sriram Chockalingam__, Yong Dong, Min Xie, Maneesha Aluru, and Srinivas Aluru. _Parallel bayesian network structure learning for genome-scale gene networks._ In Proceedings of the International Conference for High Performance Computing, Networking, Storage and Analysis (SC), 2014.
    6. Ankit R. Shah, __Sriram P. Chockalingam__, and Srinivas Aluru. _A Parallel Algorithm for Spectrum-based Short Read Error Correction._ In Proceedings of the 26th IEEE International Symposium on Parallel and Distributed Processing (IPDPS), 2012.
    7. Xiao Yang, __Chockalingam, Sriram P. Chockalingam__, and Srinivas Aluru. _A survey of error-correction methods for next-generation sequencing_. Briefings in Bioinformatics. April 2012. [doi: 10.1093/bib/bbs015](http://dx.doi.org/10.1093/bib/bbs015)


    # Past Life
    Prior to being a Ph.D student, I used to work as a software engineer in an
    IT consultancy company. I have over eight years of experience
    as a software engineer, four of which I was also as a project leader. My work involved
    in developing software to manage multiple versions of product engineering
    designs, all throughout the product's life cycle.  A summary of my past work is
    [here](http://www.linkedin.com/in/srirampc).
