/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "base";

#main{
  @include container;
  @include susy-grid-background;
  padding: 3em 0;
}


$base_color: #202020;
$heading_color: $base_color;
$normal_color: #404040;
$passive_color: #606060;

$logo_color : #F89B29;
$logo_hover : #299BF8;
$link_color : #3469AF;
$link_bg : white;
$link_hover_color: black;

$tag_color: $link_color;

$border_color: #bbbbbb;

$pre_bg : #f8f8f8;

@import "compass/css3";
@include font-face("Graublau Web Bold", font-files("/assets/fonts/GraublauWebBold.otf", opentype));
@include font-face("Graublau Web", font-files("/assets/fonts/GraublauWeb.otf", opentype));


@mixin sans{
  font-family: "Graublau Web", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

@mixin serif{
  //font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

@mixin logo-font{
  font-family: "Graublau Web Bold", baskerville, palatino, "palatino linotype", georgia, serif;
}

@mixin monospace{
  font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", Courier, monospace;
}

@mixin ul_left{
  ul{
    padding:0;
    list-style-type:none;    
  }
}


* {
  @include serif;
  color: $normal_color;
}

body {
  @include serif;
  font-size : 100%;
  border-top: 2px solid #cccccc;
  min-width: 800px;
}

a {
  background-color : $link_bg;
  border-bottom: solid 1px $link_color;
  color: $link_color;
  text-decoration: none;
  margin: 0.2em;  
}

a:link, a:visited{
  color:$link_color;
}
a:hover{
  color: $link_hover_color;
  border-bottom: solid 1px $link_hover_color;
}

code,pre{
  @include monospace;
  color: $normal_color;
}

blockquote, div, ol, p, pre, ul {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

h1,h2,h3,h4,h5 {
  @include sans;
  color: $heading_color;
  font-weight: normal;
  a {
    @include sans;
    text-decoration: none;
    border-bottom: none;    
  }
  a:hover {
    color: $link_hover_color !important;
  }
}

h1 {
  border-bottom: 1px solid #ccc;
  font-size:1.8em;
  padding-bottom:0.3em;
  margin-bottom: 0.4em;  
  a {
   margin:0;
   padding:0;
  }  
  a:hover{
    border-bottom: none;
 }
}

h2,h3{
  color:$heading_color;
  margin:0.6em 0 0.3em;
}

h2{
  font-size:1.3em;
}
h3{
  font-size:1.1em;
}

ol,ul {
  padding-left:1.5em;
  li {
    line-height:1.5em;
  }
}
ul {
  list-style-type:square;
}
ol {
  list-style-type:decimal;
}

pre{
  background-color:$pre_bg;
  border-left: 3px double $border_color;
  padding:0.5em
}
#header{
  overflow: auto;
  .logo {
    float:left;
    @include logo-font;
    text-transform:uppercase;
    letter-spacing:0.05em;
    font-size: 2em;
    color:$logo_color;
    bottom-margin: 0.7em;
    a {
      color:$logo_color;
      text-decoration: none;
      border-bottom:none;
      margin:0;     
    }
    a:hover{
      color:$logo_hover;
      border-bottom:none;
    }    
  }

  #nav {
    float:right;
    text-align: right;
    ul {
      li {
        display: inline;
     }
   }
  }
  .byline {
    color: $passive_color;
  }
}

#other-articles {
  margin-top:3em;
  @include ul_left;
  h3{
   margin: 0 0 0.3em;
  }
  .newer{
    float:right;
    text-align:right;    
  }

  .older{
     float:left;
  }
}

#taglist{
  font-size:0.8em;
  margin-top: 3em;
  text-align:right;
}

#sticky{
  margin-bottom:3.2em;
  .body{
    margin:auto;
    text-align:center;
    p {
      margin:0;
      line-height: 4em;
    }      
  }
}

.archives,.tag-page {
  .excerpt {
    font-size:90%;
    margin:0;
    h2{
      margin-top:0;
    }
  }
  ul {
   list-style-type:none;
   padding-left:0;
 }
}

.article, .excerpt, .featured {
  margin-bottom: 2.5em
}

/* TODO: Table ! */

.clear{
  clear: both;
}

.excerpt {
  margin-bottom: 0.5em;
  h2 {
    margin-bottom: 0.2em; }
  p {
    margin-bottom: 0.3em }
}

.meta{
  font-size:0.9em;
  ul {
    margin:0px;
    padding-left:0;    
    li {
      color: $passive_color;
      display:inline;
    }    
  }
}

.article,.featured {
  h1 {
    margin-bottom:0.25em;
  }
}

.passive{
   color:$passive_color;
}

.tags{
  text-transform: lowercase;
}

.tags-page{
  @include ul_left;
}

img > a {
  border-bottom:none;
}

strong {
  font-weight:bold;
}

.inset {
  background-color: white;
  border: 1px solid silver;
  padding:2px;
  margin: 0.8em 0em 0.8em 0.8em;  
}
.right {
  float:right;
}

blockquote{
  border-top:1px dotted $normal_color;
  border-bottom:1px dotted $normal_color;
  background-color:#EEE;
  padding:0.8em 1.0em;  
  p{
    margin-bottom:0;
  }
}

em {
  font-style:italic;
}

/* This is not working anyway */
#dsq-subscribe{
  li {
    a{
      border-bottom:none;
    }
  }
}

a.widebutton{
  border-top:1px dotted $normal_color;
  border-bottom:1px dotted $normal_color;
  background: #CCC;
  font-weight: bold;
  cursor:pointer;
  display:inline-block;
  width:100%;
  padding:0.5em 0;
  margin:0;
  text-align:center;
}

a.widebutton:hover{
  background: #EEE;
}

a.imglink{
    border-bottom:none;
}

#canvas {
  height: 480px;
  margin: auto;
  text-align: left;
  width: 640px;
  border:1px dotted $normal_color;      
}

.twitted ul#twitter_update_list {
	margin: 0;
	padding: 0 0.8em;
	list-style-type: none;
}

.twitted ul#twitter_update_list li {
	margin: 0;
	padding: 0.8em 0 1em 0;
}

.twitted p.profileLink a {
	text-align: right;
    display:block;
    float:right;
}
@import "pygment";
// @import "coderay";
