/*  Variables */
$base_color: #202020;
$heading_color: $base_color;
$normal_color: #404040;
$passive_color: #606060;

/* ruby per wikipedia */
$logo_color: white;
$logo_background_color: #e0115f;

$link_color: $heading_color;
$link_hover_color: #e0115f;
$link_bg: white;

$tag_color: $link_color;

$border_color: #bbbbbb;

/* Mixins */

@mixin sans{
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
@mixin serif{
  /* font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif */
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
@mixin logo-font{
  font-family: baskerville, palatino, "palatino linotype", georgia,serif;
}
@mixin monospace{
  font-family: Monaco, Consolas, "Lucida Console", "Courier New", Courier, monospace;
}

@mixin ul_left{
  ul {
    padding: 0;
    list-style-type: none;
  }
}
/* Styles */

* {
  @include serif;
  color: $normal_color;
}

body {
  font-size: 16px;
  border-top: 2px solid #cccccc;
  min-width: 800px;
}
#main {
  margin: auto;
  width: 720px;
  padding: 3em 0;
}
a {
  background-color: $link_bg;
  border-bottom: solid 1px $link_color;
  color: $link_color;
  text-decoration: none;
  margin: 2px;
  &:link, &:visited {
    color: $link_color;
  }
  &:hover {
    color: $link_hover_color;
    text-decoration: none;
    border-bottom: solid 1px $link_hover_color;
  }
}
code, pre{
  @include monospace;
  color: $normal_color;
  font-size: 13px;
}
blockquote, div, ol, p, pre, ul {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
h1, h2, h3, h4, h5 {
  @include sans;
  color: $heading_color;
  font-weight: normal;
  a {
    @include sans;
    color: $heading_color !important;
    text-decoration: none;
    border-bottom: none;
    &:hover {
      color: $link_hover_color !important
    }
  }
}
h1{
  border-bottom: 1px solid #eeeeee;
  font-size: 1.8em;
  padding-bottom: 6px;
  margin-bottom: 1em;
}
h2, h3 {
  color: $heading_color;
  margin: 1.5em 0 1em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}
ol, ul {
  padding-left: 30px;
  li {
    line-height: 1.5em;
  }
}

ul {
  list-style-type: circle;
}

ol{
  list-style-type: decimal;
}
pre {
  background-color: #f8f8f8;
  border-left: 3px double $border_color;
  padding: 0.5em;
}

#header{
  /* //margin-bottom: 2em */
  overflow: auto;
  .logo {
    -webkit-border-radius: 12px 0 0;
    -moz-border-radius: 12px 0 0;
    background-color: $logo_background_color;
    color: $logo_color;
    float: left;
    font-size: 30px;
    @include logo-font;
    padding: 0 0.3em;
    bottom-margin: 0.7em;
    /* // css3 inset effect */
    /* //text-shadow: 0px -1px 1px #aaa */
    a {
      @include sans;
      color: $logo_color;
      background-color: $logo_background_color;
      border: none;
      @include logo-font;
      text-decoration: none;
      &:link, &:visited {
        /* //color: #000 !important */
      }
      &:hover{
        /* //color: #000 !important */
        border-bottom: solid 1px $logo_color;
        text-decoration: none;
      }
    }
  }
}

#nav {
    float: right;
    margin-top: 10px;
    text-align: right;
    ul {
      li {
        display: inline;
      }
    }
  .byline {
    color: $passive_color;
   }
}
#other-articles {
  margin-top: 4em;
  @include ul_left;
  h3 {
    margin: 0 0 0.5em;
  .newer {
    text-align: right;
    float: right;
  }
  .older {
    float: left;
  }
  }
}
#taglist {
  font-size: 0.8em;
  margin-top: 3em;
  text-align: right;
}
#sticky {
  /* //border: 3px double #eee */
  margin-bottom: 3.2em;
  .body {
    margin: auto;
    text-align: center;
    p {
      margin: 0;
      line-height: 4em;
    }
  }
}
.archives, .tag-page {
  .excerpt {
    font-size: 90%;
    margin: 0;
    h2 {
      margin-top: 0;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
}
.article, .excerpt, .featured {
  margin-bottom: 2.5em;
}

table.colophon {
  td:first-of-type {
    width: 175px;
  }
}

.article, .featured {
  h1 {
    margin-bottom: 0.25em;
  }
}
.clear {
  clear: both;
}
.excerpt {
  margin-bottom: 1.5em;
  h2 {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0.5em;
  }
}

.meta {
  font-size: 13px;
  ul {
    margin: 0px;
    padding-left: 0;
    li {
      color: $passive_color;
      display: inline;
    }
  }
}

.passive {
  color: $passive_color;
}
a.tag {
  color: $tag_color !important;
  padding: 0 0.1em 0;
  &:hover {
    color: $link_hover_color !important;
  }
}

.tags{
  text-transform: lowercase;
}
.tags-page{
  @include ul_left;
}
.screencast {
  text-align: center;
  border: 3px double #bbbbbb;
  padding-top: 30px;
  div {
    padding: 0;
    margin-bottom: 0;
    font-size: 0.5em !important;
   }
}

