---
---

#nav
  %ul
    %li
      %a(href='#{relative_path_to("/blog/about.html")}') about
    %li
      %a(href='#{relative_path_to("/blog/archives.html")}') archives
    %li
      %a(href='#{relative_path_to("/blog/tags.html")}') tags
    %li
      %a(href='#{relative_path_to("/blog/atom.xml")}') rss
    %li
      %a(href='#{relative_path_to("/blog/kith.html")}') kith
