---
---

#nav
  %ul
    %li
      %a(href='#{relative_path_to("/")}') home
    %li
      %a(href='#{relative_path_to("/work.html")}') work
    %li
      %a(href='#{relative_path_to("/blog/")}') blog
    %li
      %a(href='#{relative_path_to("/info.html")}') about
