---
---
- max = config[:other_articles_max].to_i
- older_only ||= false
#other-articles
  .older
    %ul
      - n_older_articles(max, reference_item).each do |item|
        %li
          %h3
            %a(href="#{route_path_relative(item)}" title="#{item[:excerpt] || ''}")
              = "&laquo; #{item[:title]}"
  .newer
    - if !older_only
      %ul
        - n_newer_articles(max, reference_item).reverse.each do |item|
          %li
            %h3
              %a(href="#{route_path_relative(item)}" title="#{item[:excerpt] || ''}")
                = "#{item[:title]} &raquo;" 
