---
---
!!! Strict
%html
  %head
    %title= "#{get_title}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %meta(name="keywords" content="#{keywords}")
    %meta(name="description" content="#{@item[:excerpt]}")
    %link(href='#{relative_path_to"/assets/css/screen.css"}' rel="stylesheet" type="text/css")
    -# %link(href="/assets/css/reset.css" rel="stylesheet" type="text/css")
    -# %link(href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css")

  %body
    -# needed since some content render <pre> blocks
    - content = find_and_preserve(yield)
    #main
      #header 
        .logo
          = logo
        - if /^#{blog_url}/ === @item.identifier 
          = render('/_blog-nav.*', :item => @item, :content => content)
        - else
          = render('/_nav.*', :item => @item, :content => content)
      .clear

      - if @item[:kind] == 'article'
        = render('/_article.*', :item => @item, :content => content)
        = render('/_other_articles_nav.*', :reference_item => @item)
        .clear
        - if disqus_shortname && !is_front_page?
          = render('/_disqus.*', :item => @item)
      - else
        = content
      .clear

    -# disqus: inserts number of commments
    - if disqus_shortname && @item[:disqus] == 'true'
      :javascript
        (function() {
          var links = document.getElementsByTagName('a');
          var query = '?';
          for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
          }
          document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/#{disqus_shortname}/get_num_replies.js' + query + '"></' + 'script>');
        })();
 

